@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

.logo1 img{
  width: 150px;

}
.bg-dark1{
  background-color: #1F1F1F;
}

/* .background1{
  width: 100%;
  height: 100vh;
  background-image: url('banner1.jpg');
  background-size: cover;
}
.background2{
  width: 100%;
  height: 100vh;
  background-image: url('banner1.jpg');
  background-size: cover;
} */

.back-full{
  background-image: url('back.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  box-sizing: border-box;
}

.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  box-sizing: border-box;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, -15px); }
  100%   { transform: translate(0, 0px); }    
}

/* send enquiry */
.clr-br{
  background-color: #76535F !important;
}
/* whatapp */
#sd-bar-wht {
  position: fixed;
  bottom: 5%;
  right: 2%;
  z-index: 999;
}

.sd-bar-wht {
  background: #0dbf43;
  border-radius: 2rem;
  padding: 10px 12px 10px;
  height: 50px;
  width: 50px;
  color: aliceblue;
}
.sd-bar-wht i{
  color: aliceblue;
  font-size: 20px;
}
/* phone */
#sd-bar-phn {
  position: fixed;
  bottom: 5%;
  left: 2%;
  z-index: 999;
}

.sd-bar-phn {
  
  border-radius: 2rem;
  padding: 10px 12px 10px;
  height: 50px;
  width: 50px;
  color: whitesmoke;
}
.sd-bar-phn i{
  color: aliceblue;
  font-size: 20px;
}
.sd-bar-phn  a, a:hover, a:focus, a:active {
  text-decoration: none !important;
  color: whitesmoke !important;
}
.sd-bar-wht  a, a:hover, a:focus, a:active {
  text-decoration: none !important;
  color: whitesmoke !important;
}
@media (min-width: 768px) {

  #sd-bar-phn {

    display: none;

  }
}
@media (max-width: 768px) {

  #sd-bar-wht {
   position: fixed;
   bottom: 1%;
   right: 1%;
   z-index: 999;
 }
   #sd-bar-phn {
   position: fixed;
   bottom: 1%;
   right: 1%;
   z-index: 998;
 }
 }


 .mar-to{
  margin-top: -4rem !important ;
 }
 .bg-info1{
   background-color: #17A2B8;
 }

 /* cards */
.choose{
  font-family: 'Orelega One', cursive;
  
}
.choose-clr{
  color: #C5A37E;
}


.back-cl{
  background-color: #fefbd8;
}
/* choose property */
.co-bg{
  background-color: #d5f4e6;
}